<% json = t(".json", scope: resource)
  json_all = JSON.pretty_generate(json)
  json_single = JSON.pretty_generate(json.first)
%>
# <%= t(".resource_klass", scope: resource) %>
<% unless t(".parent", scope: resource).to_s.include?("missing") %>
  This is an object representing <%= t(".resource_article", scope: resource) %> <%= t(".resource_name", scope: resource) %> of <%= t(".parent_article", scope: resource) %> <%= t(".parent", scope: resource) %>. <%= t(".parent_plural", scope: resource).capitalize %> can
  have multiple <%= t(".resource_plural", scope: resource) %> but <%= t(".resource_article", scope: resource) %> <%= t(".resource_name", scope: resource) %> object belongs to only one
  <%= t(".parent", scope: resource).capitalize %>.
<% else %>
  This is an object representing <%= t(".resource_article", scope: resource) %> <%= t(".resource_name", scope: resource) %>.
<% end %>

## The <%= t(".resource_klass", scope: resource) %> object

| Attribute                            | Type          | Description  | Readonly
| ------------------------------------ | ------------- | ------------ | ----------
<% t(".attributes", scope: resource).reject{ |k,v| v[:private] }.each_pair do |key, value| %>
**<%= value[:name] %>**<%= " <span class='private'>private</span>" if value[:private] %> <%= " <span class='deprecated'>deprecated</span>" if value[:deprecated] %> | <%= value[:type] %> | <%= value[:description] %> | <%= value[:readonly] %>
<% end %>

<% unless t(".disable_index", scope: resource) == true %>
  <%= partial "includes/index_request", locals: { resource: resource, json_all: json_all }  %>
<% end %>

<% unless t(".disable_create", scope: resource) == true %>
  <%= partial "includes/create_request", locals: { resource_name: resource, json_single: json_single } %>
<% end %>

<% unless t(".disable_show", scope: resource) == true %>
  <%= partial "includes/show_request", locals: { resource: resource, json_single: json_single }  %>
<% end %>

<% if t('.current', scope: resource) == true %>
  <%= partial "includes/current_request", locals: { resource: resource, json_single: json_single }  %>
<% end %>

<% unless t(".disable_update", scope: resource) == true %>
  <%= partial "includes/update_request", locals: { resource: resource } %>
<% end %>

<% if t(".enable_actions", scope: resource) == true %>
  <%= partial "includes/show_actions", locals: { resource: resource } %>
<% end %>

<% unless t(".disable_destroy", scope: resource) == true %>
  <%= partial "includes/destroy_request", locals: { resource: resource } %>
<% end %>
